<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-themes@^1.0.2/dist/ectype/index.min.css">
	<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
	<Style>
		.navbar-collapse.in {
    		display: block !important;
		}
	</Style>
</head>
<body>
	<script src="/views/js/carasoul_slide.js"></script>
	
<!--navbar-->
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
		<a class="navbar-brand" href="#">DACST </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-0" aria-controls="navbar-0" aria-expanded="false" aria-label="Toggle Navigation">
		  <span class="navbar-toggler-icon">
		  </span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-0">
		  <div class="navbar-nav">
			<a class="nav-item nav-link active" href="/">
			  DACST Query
			  <span class="sr-only">
				(current)
			  </span>
			</a>
			<a class="nav-item nav-link" href="/tag">
			  Tag Images
			</a>
			<a class="nav-item nav-link" href="https://forms.gle/wao853kdLwar6d3h9" target="_blank" rel="noopener noreferrer">
			  Take the DACST
			</a>
			<a class="nav-item nav-link" href="/about">
			  About DACST
			</a>
		  </div>
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="/contact">
			  Contact Us
			</a>
		  </div>
		</div>
	  </nav>




	  <!---info card-->
	  <div class="card text-center bg-secondary text-white mb-3">
		<div class="card-header">
		  Contact Us
		</div>
		<div class="card-body">
		  <h5 class="card-title">
			Meet the Devs
		  </h5>
		  <p class="card-text">
			Makaylah Cowan '22: macowa22@colby.edu


		  </p>
		  <p class="card-text">
			Erik Cohen '22: ejcohe22@colby.edu

		  </p>
		  <a class="btn btn-light" href="https://cs.colby.edu/" target="_blank" rel="noopener noreferrer">
			Colby College Computer Science Department
		  </a>
		</div>
		<div class="card-footer">
		  CS330 2021 @ Colby College
		</div>
	  </div>
    
</body>
</html>